{% extends 'Eduguider/base.html'%}
{%load static%}
{% block head %}

<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="Mentivio : Education HTML Template" />
	
	<!-- OG -->
	<meta property="og:title" content="Mentivio : Education HTML Template" />
	<meta property="og:description" content="Mentivio : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href='{% static "assets/images/favicon.ico"%}' type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href='{% static "assets/images/favicon.png"%}' />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Mentivio </title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/assets.css"%}'>
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/typography.css"%}'>
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/shortcodes/shortcodes.css"%}'>
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/style.css"%}'>
	<link class="skin" rel="stylesheet" type="text/css" href='{% static "assets/css/color/color-1.css"%}'>
	
</head>
{% endblock %}

{% block body %}


    
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner3.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Contact Us </h1>
				 </div>
            </div>
        </div>
		
	
        <!-- inner page banner -->
        <div class="page-banner contact-page section-sp2">
            <div class="container">
                <div class="row">
					<div class="col-lg-5 col-md-5 m-b30">
						<div class="bg-primary text-white contact-info-bx">
							<h2 class="m-b10 title-head">Contact <span>Information</span></h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<div class="widget widget_getintuch">	
								<ul>
									<li><i class="ti-location-pin"></i>75k Newcastle St. Ponte Vedra Beach, FL 309382 New York</li>
									<li><i class="ti-mobile"></i>0800-123456 (24/7 Support Line)</li>
									<li><i class="ti-email"></i>info@example.com</li>
								</ul>
							</div>
							<h5 class="m-t0 m-b20">Follow Us</h5>
							<ul class="list-inline contact-social-bx">
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-7 col-md-7">
						<form action="/contact" method="POST" novalidate >
							{% csrf_token %}

						
							<div class="heading-bx left">
								<h2 class="title-head">Get In <span>Touch</span></h2>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
							</div>
							<div class="row placeani">
								<div class="col-lg-6">
									<div class="form-group">
										<div class="input-group">
											<label for="name" class="form-label">Your Name</label>
											<input name="name" type="text" class="form-control" id="name">
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<div class="input-group"> 
											<label for="email" class="form-label">Email address</label>
                                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<div class="input-group">
											<label for="phone" class="form-label">Phone No.</label>
                                            <input type="phone" class="form-control" id="phone" name="phone" aria-describedby="phone">
										</div>
									</div>
								</div>
								
								<div class="col-lg-12">
									<div class="form-group">
										<div class="input-group">
											<label for="content" class="form-label">Type Message</label>
											<textarea name="content" rows="4" class="form-control" id="content"></textarea>
										</div>
									</div>
								</div>
								
								<div class="col-lg-12">
									<button name="submit" type="submit" value="Submit" class="btn button-md"> Send Message</button>
								</div>
							</div>
						</form>
					</div>
				</div>
            </div>
		</div>
        <!-- inner page banner END -->
    </div>
    <!-- Content END-->
    <!-- Footer ==== -->
    
    <!-- Footer END ==== -->
    <!-- scroll top button -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>
{% endblock %}
{% block js%}
<!-- External JavaScripts -->
<script src='{% static "assets/js/jquery.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap/js/popper.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap/js/bootstrap.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap-select/bootstrap-select.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"%}'></script>
<script src='{% static "assets/vendors/magnific-popup/magnific-popup.js"%}'></script>
<script src='{% static "assets/vendors/counter/waypoints-min.js"%}'></script>
<script src='{% static "assets/vendors/counter/counterup.min.js"%}'></script>
<script src='{% static "assets/vendors/imagesloaded/imagesloaded.js"%}'></script>
<script src='{% static "assets/vendors/masonry/masonry.js"%}'></script>
<script src='{% static "assets/vendors/masonry/filter.js"%}'></script>
<script src='{% static "assets/vendors/owl-carousel/owl.carousel.js"%}'></script>
<script src='{% static "assets/js/functions.js"%}'></script>
<script src='{% static "assets/js/contact.js"%}'></script>
<!-- <script src='../../www.google.com/recaptcha/api.js'></script> -->
{% endblock %}
