{% extends 'Eduguider/base.html'%}
{% load course_custom_tags %}
{%load static%}
{% block head %}
<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="Mentivio : Education HTML Template" />
	
	<!-- OG -->
	<meta property="og:title" content="Mentivio : Education HTML Template" />
	<meta property="og:description" content="Mentivio : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href='{% static "assets/images/favicon.ico"%}' type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href='{% static "assets/images/favicon.png"%}' />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>ALL FEATURED COURSES: Designed by Experts</title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/assets.css"%}'>
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/typography.css"%}'>
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/shortcodes/shortcodes.css"%}'>
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/style.css"%}'>
	<link class="skin" rel="stylesheet" type="text/css" href='{% static "assets/css/color/color-1.css"%}'>
	
</head>
{% endblock %}
{% block body %}
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner3.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">All Courses</h1>
				 </div>
            </div>
        </div>
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						 
						<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
							<div class="widget courses-search-bx placeani">
								<div class="form-group">
									<div class="input-group">
										<label>Search Courses</label>
										<input name="dzName" type="text" required class="form-control" placeholder="We are working to improve our website">
									</div>
								</div>
							</div>
							
							<div class="widget">
								<a href="#"><img src='{% static "assets/images/adv/adv.jpg"%}' alt=""/></a>
							</div>
							<div class="widget recent-posts-entry widget-courses">
                                <h5 class="widget-title style-1">What we Provide...</h5>
                                <div class="widget-post-bx">
                                    <div class="widget-post clearfix">
                                        <!-- <div class="ttr-post-media"> <img src='{% static "assets/images/blog/recent-blog/pic1.jpg"%}' width="200" height="143" alt=""> </div> -->
                                        <div class="ttr-post-info">
                                            <div class="ttr-post-header">
                                                <h6 class="post-title"><a href="#">Notes/ Tests/ Past Year Papers</a></h6>
                                            </div>
                                            <div class="ttr-post-meta">
                                                <ul>
                                                    
                                                    <li class="review">Designed by top rankers</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <!-- <div class="ttr-post-media"> <img src='{% static "assets/images/blog/recent-blog/pic3.jpg"%}' width="200" height="160" alt=""> </div> -->
                                        <div class="ttr-post-info">
                                            <div class="ttr-post-header">
                                                <h6 class="post-title"><a href="#">Be in Touch with Us</a></h6>
                                            </div>
                                            <div class="ttr-post-meta">
                                                <ul>
                                                    <li class="price">
														<h5 class="free">subscribe to our channel</h5>
													</li>
                                                    <li class="review">Feel free to contact us</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						</div>
						
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="row">
								
								{% for course in courses %}
								<div class="col-md-6 col-lg-4 col-sm-6 m-b30">
									<div class="cours-bx">
										<div class="action-box">
											<img src="{{course.thumbnail.url}}" alt="">
											<a href="/courses/course_page/{{course.slug}}" class="btn">Watch Preview</a>
										</div>
										<div class="info-bx text-center">
											<h5><a href="/courses/course_page/{{course.slug}}">{{course.name}}</a></h5>								
											<span><h8><a href=" "><b><strong>Educator:</strong> {{course.educator}}</b></a></h8></span>
											{% is_enrolled request course as enrolled %}
											{% if enrolled %}
											<a href="/courses/course_page/{{course.slug}}" class="btn">Start Studying</a><br>
											
											{%else%}
											<a href="/courses/checkout/{{course.slug}}" class="btn">Enroll Now</a><br>
											{%endif%}
										</div>
										{% is_enrolled request course as enrolled %}
										{% if enrolled %}
										{%else%}
										<div class="cours-more-info">
											
											
											<h5>Save {{course.discount}}%</h5>
											
											<div class="price">
												<del>{{course.price|rupee}}</del>
													
												<h5>{% cal_sellprice course.price course.discount as value %} {{value|rupee}}</h5>

											</div>
										</div>
										{%endif%}
										
									</div>
								</div>
								{%endfor%}
								
								<!-- <div class="col-lg-12 m-b20">
									<div class="pagination-bx rounded-sm gray clearfix">
										<ul class="pagination">
											<li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
										</ul>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<!-- contact area END -->
		
   
{% endblock %}
{% block js%}
<!-- External JavaScripts -->
<script src='{% static "assets/js/jquery.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap/js/popper.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap/js/bootstrap.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap-select/bootstrap-select.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"%}'></script>
<script src='{% static "assets/vendors/magnific-popup/magnific-popup.js"%}'></script>
<script src='{% static "assets/vendors/counter/waypoints-min.js"%}'></script>
<script src='{% static "assets/vendors/counter/counterup.min.js"%}'></script>
<script src='{% static "assets/vendors/imagesloaded/imagesloaded.js"%}'></script>
<script src='{% static "assets/vendors/masonry/masonry.js"%}'></script>
<script src='{% static "assets/vendors/masonry/filter.js"%}'></script>
<script src='{% static "assets/vendors/owl-carousel/owl.carousel.js"%}'></script>
<script src='{% static "assets/js/functions.js"%}'></script>
<script src='{% static "assets/js/contact.js"%}'></script>

{% endblock %}