{%load static%}
{% load course_custom_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="Mentivio : Education HTML Template" />
	
	<!-- OG -->
	<meta property="og:title" content="Mentivio : Education HTML Template" />
	<meta property="og:description" content="Mentivio : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="../error-404.html" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href='{% static "assets/images/favicon.png"%}' />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Mentivio : Education HTML Template </title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src='{% static "assets/js/html5shiv.min.js"%}'%}'></script>
	<script src='{% static "assets/js/respond.min.js"%}'%}'></script>
	<![endif]-->
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/assets.css"%}'%}'>
	<link rel="stylesheet" type="text/css" href='{% static "assets/vendors/calendar/fullcalendar.css"%}'%}'>
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/typography.css"%}'%}'>
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/shortcodes/shortcodes.css"%}'%}'>
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/style.css"%}'%}'>
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/dashboard.css"%}'%}'>
	<link class="skin" rel="stylesheet" type="text/css" href='{% static "assets/css/color/color-1.css"%}'%}'>
	
</head>
<body class="ttr-opened-sidebar ttr-pinned-sidebar">
	<!--Main container start -->
	<main class="ttr-wrapper">
		<div class="container-fluid">
			
			<div class="row">
				<!-- Your Profile Views Chart -->
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						
						<div class="widget-inner">
							<div class="recent-news blog-lg">
								<div class="action-box blog-lg">
									<div class="mx-auto">
										<iframe id='player' class="mx-auto" width="100%" height="315"
											src="https://www.youtube.com/embed/{{video.video_id}}" frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen>
										</iframe>
									</div>
									<div class="list">
										<ul id='video_list' class="list-group overflow-y-scroll">

											{% is_enrolled request course as enrolled %}
											{% for v in videos %}
												<li
												 class="list-group-item {% if v == video %} active-video {% endif %} ">
												 <a class="
												 
												 {% if not enrolled and not v.is_preview %} text-muted no-preview {% endif %}
												 {% if v == video %} active-video-link {% endif %}
												 
												 " href="?lecture={{v.serial_number}}">
													 {{v}}
													</a>
												</li>
											{% endfor %}
										</ul>
									      
									</div>
								</div>
								
								<div class="info-bx">
									<ul class="media-post">
										<li><a href="#"><i class="fa fa-calendar"></i>Educator: {{course.educator}}</a></li>
										<li><a href="#"><i class="fa fa-calendar"></i>{{course.length}} Hours</a></li>
										
									</ul>
									<h5 class="post-title"><a href="#">{{video.title}}</a></h5>
									<div class="container">
										<p>{{video.description}}</p>
									</div> 
									<div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
									<div class="widget_tag_cloud">
										<h6>TAGS</h6>
										<div class="tagcloud"> 
											{% for tag in course.tag_set.all %}
											<a href="">{{tag.description}}</a> 
											{%endfor%}
										</div>
									</div>
									<div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Your Profile Views Chart END-->
			</div>
		</div>
	</main>
	<div class="ttr-overlay"></div>

<!-- External JavaScripts -->
<script src='{% static "assets/js/jquery.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap/js/popper.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap/js/bootstrap.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap-select/bootstrap-select.min.js"%}'></script>
<script src='{% static "assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"%}'></script>
<script src='{% static "assets/vendors/magnific-popup/magnific-popup.js"%}'></script>
<script src='{% static "assets/vendors/counter/waypoints-min.js"%}'></script>
<script src='{% static "assets/vendors/counter/counterup.min.js"%}'></script>
<script src='{% static "assets/vendors/imagesloaded/imagesloaded.js"%}'></script>
<script src='{% static "assets/vendors/masonry/masonry.js"%}'></script>
<script src='{% static "assets/vendors/masonry/filter.js"%}'></script>
<script src='{% static "assets/vendors/owl-carousel/owl.carousel.js"%}'></script>
<script src='{% static "assets/vendors/scroll/scrollbar.min.js"%}'></script>
<script src='{% static "assets/js/functions.js"%}'></script>
<script src='{% static "assets/vendors/chart/chart.min.js"%}'></script>
<script src='{% static "assets/js/admin.js"%}'></script>
<script src='{% static "assets/vendors/calendar/moment.min.js"%}'></script>
<script src='{% static "assets/vendors/calendar/fullcalendar.js"%}'></script>

<script src="{% static 'assets/js/course_page.js' %}"></script>
</body>


</html>