{% extends 'Eduguider/admin/base.html'%}
{% load course_custom_tags %}
{% load static %}
{% block head %}



<head>
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'images/icons/icon_blood_red_192x192.png' %}">
    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="Mentivio : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="Mentivio : Education HTML Template" />
    <meta property="og:description" content="Mentivio : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="../error-404.html" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href='{% static "dash/assets/images/favicon.png"%}' />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Mentivio : Education HTML Template </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href='{% static "dash/assets/css/assets.css"%}'>
    <link rel="stylesheet" type="text/css" href='{% static "dash/assets/vendors/calendar/fullcalendar.css"%}'>

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href='{% static "dash/assets/css/typography.css"%}'>

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href='{% static "dash/assets/css/shortcodes/shortcodes.css"%}'>

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href='{% static "dash/assets/css/style.css"%}'>
    <link rel="stylesheet" type="text/css" href='{% static "dash/assets/css/dashboard.css"%}'>
    <link class="skin" rel="stylesheet" type="text/css" href='{% static "dash/assets/css/color/color-1.css"%}'>

</head>
{% endblock %}
{% block body %}
<!--Main container start -->
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!-- Your Profile Views Chart -->          
            
            </div>
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Notes For You</h4>
                    </div>
                    <div class="container">
                        {% for note in notes %}
                        <div class="card-courses-list admin-courses">
                            <div class="card-courses-full-dec">
                                <div class="card-courses-title">
                                    <h4>{{note.name}}</h4>
                                </div>
                                <div class="card-courses-list-bx">
                                    <ul class="card-courses-view">
                                        <li class="card-courses-user">
                                            <div class="card-courses-user-info">
                                                <h5>Educator</h5>
                                                <h4>{{note.designed_by.name}}</h4>
                                            </div>
                                        </li>
                                        <li class="card-courses-stats">
                                            <a href="#" class="btn button-sm green radius-xl">{{note.exam_name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row card-courses-dec">
                                    <div class="col-md-12">
                                        <h6 class="m-b10">Topics</h6>
                                        <div class="form-group">
                                            <select id="inputState"  class="form-control red">
                                                <option selected>Click on the box</option>
                                                {% for i in note.topic_set.all%}
                                                <option>{{i.name}}</option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <a href="/exam/notes/note.slug_chapter" class="btn green radius-xl outline">Read Now</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><br>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>
<div class="ttr-overlay"></div>

<!-- External JavaScripts -->
<script src='{% static "dash/assets/js/jquery.min.js"%}'></script>
<script src='{% static "dash/assets/vendors/bootstrap/js/popper.min.js"%}'></script>
<script src='{% static "dash/assets/vendors/bootstrap/js/bootstrap.min.js"%}'></script>
<script src='{% static "dash/assets/vendors/bootstrap-select/bootstrap-select.min.js"%}'></script>
<script src='{% static "dash/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"%}'></script>
<script src='{% static "dash/assets/vendors/magnific-popup/magnific-popup.js"%}'></script>
<script src='{% static "dash/assets/vendors/counter/waypoints-min.js"%}'></script>
<script src='{% static "dash/assets/vendors/counter/counterup.min.js"%}'></script>
<script src='{% static "dash/assets/vendors/imagesloaded/imagesloaded.js"%}'></script>
<script src='{% static "dash/assets/vendors/masonry/masonry.js"%}'></script>
<script src='{% static "dash/assets/vendors/masonry/filter.js"%}'></script>
<script src='{% static "dash/assets/vendors/owl-carousel/owl.carousel.js"%}'></script>
<script src='{% static "dash/assets/vendors/scroll/scrollbar.min.js"%}'></script>
<script src='{% static "dash/assets/js/functions.js"%}'></script>
<script src='{% static "dash/assets/vendors/chart/chart.min.js"%}'></script>
<script src='{% static "dash/assets/js/admin.js"%}'></script>

{% endblock %}